<h1>Wybierz Bazę danych:</h1>
<div class="block-center">
    <div class="block-center-e">
        <a href="/alcohol/dbchooser/main"><img
                src="/alcohol/images/database-main.png"></a>

        <p>Główna</p>

        <p>{$count_main}</p>
    </div>
    <?php if($_SESSION['lvl']>=LVL_VIEW_USER):?>
    <div class="block-center-e">
        <a href="/alcohol/dbchooser/user"><img src="/alcohol/images/database-users.png"></a>

        <p>Społeczności

        <p>{$count_user}</p>
    </div>
    <?php endif; ?>
</div>
