<h1>Logowanie</h1>

<form action="/alcohol/login/login" method="post">
    <table>
        <tr>
            <td><label for="login">Login:</label></td>
            <td><input type="text" id="login" name="login"></td>
        </tr>
        <tr>
            <td><label for="password">Hasło:</label></td>
            <td><input type="password" id="password" name="password"></td>
        </tr>
        <tr>
            <td><label>Potwierdź:</label></td>
            <td><input type="submit" value="OK"></td>
        </tr>
    </table>
</form>
<p>

    {if="isset($result)"}
    <span style="color:red;font-weight: bolder;">Błąd!</span><br>
    Sprawdź swój nick i/lub hasło.
    {/if}
</p>