
.container {
    z-index: auto;
    padding: 0;
    margin: 1em auto 2em auto;
    min-height: 40em;
    max-width: 1050px;
    /*    border: #a5c72d solid 3px;*/
    border: #2D9FC9 solid 2px;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    border-radius: 1.5em;

    /*noinspection CssUnknownTarget*/
    /*    background-image: url('/alcohol/images/background-content_min.jpg');*/
    background-color: #282828;
    -webkit-box-shadow: 1px 2px 10px #000000;
    -moz-box-shadow: 1px 2px 10px #000000;
    box-shadow: 1px 2px 10px #000000;
}

.header {
    max-width: 1260px;
    height: 200px;
    /*noinspection CssUnknownTarget*/
    background: url('/alcohol/images/header.png') no-repeat center;
    /*noinspection CssUnknownTarget*/
    color: #DDDDDD;
}

#header_back {
    /*background-image:url('images/background-body-min.jpg');*/
    background: transparent;
}

body {
    /*noinspection CssUnknownTarget*/
    margin: auto auto auto auto;
    /*noinspection CssUnknownTarget*/
    /*    background-image: url('/alcohol/images/background-body_min.jpg');*/
    /*    background-color:#303030;*/
    background-color: #2c2c2c;
    font-size: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.menu-main {
    padding: 0 0.5em 0.3em;
    /*background-color: #a5c72d;*/
    background-color: #282828;
    border-top: solid #2D9FC9 5px;
    color: #DDDDDD;
}

.menu-main ul {
    margin: .5em;
    padding: 0;
    min-height: 20px;
    text-align: center;
    font-size: 9pt;
    font-family: Verdana, serif;
}

.menu-main ul li {
    display: inline;
}

.menu-main ul li a {
    padding: 0 5px;
    color: #DDDDDD; /* #A4BFE0 */;
    text-decoration: none;
    line-height: 1.6em;
}

.menu-main ul li a:hover {
    color: #F4F7FC;
    /*    font-weight: bold;*/
    border-bottom: solid #33B5E5 5px;
}

.login_form {
    margin-left: auto;
    padding-right: 1%;
    height: 30px;
    background-color: #a5c72d;
    text-align: right;
    font-size: 100%;
}

input.holo[type='text'], input.holo[type='password'] {
    /* You can set width to whatever you like */
    position: relative;
    margin: 0;
    padding: 4px 6px 4px 6px;
    width: 80px;
    height: 20px;
    outline: none;
    border: none;
    background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
    background-size: 1px 4px, 1px 1px, 1px 4px;
    font-family: "Roboto", "Droid Sans", sans-serif;
}

input.holo[type='text']:hover, input.holo[type='password']:hover, input.holo[type='text']:focus, input.holo[type='password']:focus {
    background: bottom left linear-gradient(#0099cc, #0099cc) no-repeat, bottom center linear-gradient(#0099cc, #0099cc) repeat-x, bottom right linear-gradient(#0099cc, #0099cc) no-repeat;
    background-size: 1px 4px, 1px 1px, 1px 4px;
}

.messages-error {
    width: 100%;
    /*border-bottom:3px dotted red;*/
    color: red;
    font-weight: bolder;
}

.messages-info {
    width: 100%;
    /*border-bottom:3px dotted red;*/
    color: blue;
    font-weight: bolder;
}

.content {
    min-height: 30em;
}

.content {
    padding: .5em .5em .5em 1.5em;
    min-height: 20em;
    /* width:100%; makes right end look weird */
    /* background-color:#474747; */
    height: 100%;
    /*    background-image:url('images/background-content-min.jpg');*/
    color: #DDDDDD;
    text-decoration: none;
}

.content label {
    color: #EEEEEE;
}

.content div img {
    box-sizing: border-box;
    margin: 10px;
    width: 30%;
    border-radius: 10px 10px;
    box-shadow: black 0 0 5px;
    text-align: center;
}

.content a {
    color: #ffffff;
    text-decoration: underline;
}

#add-name {
    white-space: nowrap;
}

.footer {
    margin-right: 1.5em;
    margin-left: 1.5em;
    height: 3em;
    border-top: 1px hidden #848484;
    /*noinspection CssUnknownTarget*/
    /*    background-image: url('/alcohol/images/background-content_min.jpg');*/
    color: #DDDDDD;
    text-align: right;
    font-size: 0.76em;
    line-height: 3em;
}

.footer span.sql-performance {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/*


ALCOHOLS TABLE

*/
.alcohols-table {
    margin: 1em 0;
    width: 90%;
    border-spacing: 1px;
}

.alcohols-table tr {
    border-top: 1px solid black;
    color: #DDDDDD;
}

.alcohols-table th {
    background: #2D9FC9;
}

.alcohols-table tr:nth-child(even) {
    /* background: #C3DE66;*/
    background: #4C4C4C;
}

.alcohols-table tr:nth-child(odd) {
    /* background: #AEC94F;*/
    background: #3C3C3D;
}

.alcohols-table td {
    color: #DDDDDD;
    text-align: left;
    /*    border-right:0.5px solid black;*/
}

.alcohols-table a.delete {
    color: #DDDDDD;
    font-weight: bolder;
    text-align: center;
}

.alcohols-table a.delete img {
    height: 1.5em;
    display: block;
    margin: auto;
}

.alcohols-table a.approve {
    color: green;
    font-weight: bold;
}

.alcohols-table input {
    color: #F4F7FC;
    width: 100%;
    height: 1.1em;
    border-style: none;
    background: transparent;
}

.alcohols-table input[type='submit'] {
    width: 100%;
    background: #4C4C4C;
    white-space: normal;
    font-weight: bold;
    font-size: 1.1em;
}

.alcohols-table input[type='checkbox'] {
    margin: 0;
    width: 100%;
    white-space: nowrap;
}

.success {
    color: #AEC94F;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 0;
        padding: 0;
        width: 100%;

        border-top: none;
        border-right: none;
        border-bottom: #2D9FC9 solid 4px;
        border-left: none;
        border-radius: 0;
        box-shadow: 0 0;
    }

    .login_form {
        font-size: 80%;
    }

    .alcohols-table thead {
        display: none;
    }

    .alcohols-table {
        margin: auto;
        width: 98%;
    }

    .menu-main ul li a {
        padding-right: 0.6em;
    }

    /*    .alcohols-table tr{
            display:inline-block;
            width:50%;
        }*/
    .alcohols-table td {
        position: relative;
        display: block;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 60%;
        text-align: left;
    }

    .alcohols-table td:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: inline-block;
        padding-top: 5px;
        padding-left: 20%;
        max-height: 100%;
        width: 33%;
        border-right: 2px solid transparent;

        color: #000;
        content: attr(data-th) ":";
        font-weight: 300;
        font-size: 100%;
    }

    .alcohols-table input {
        width: 95%;
        height: 1.3em;
        border: 2px #AEC94F solid;
        background: #ffffff;
    }
}