
body > .container {
    padding: 0;
    max-width: 1260px;
    min-height: 40em;
    border: #a5c72d solid 10px;
    margin: auto auto 4em;
    background-image: url('images/background-content_min.jpg');
}

.header {
    color: #DDDDDD;
    max-width: 1260px;
    height: 200px;
    background: url('images/header.png') no-repeat center;
}

#header_back {
    /*background-image:url('images/background-body-min.jpg');*/
    background: transparent;
}

body {
    background-image: url('images/background-body_min.jpg');
    font-size: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.menu-main {
    background-color: #a5c72d;
}

.menu-main ul {
    margin: 0;
    padding: 0;
    min-height: 20px;
    text-align: center;
    font-size: 8pt;
    font-family: Verdana, serif;
}

.menu-main ul li {
    display: inline;
}

.menu-main ul li a {
    text-decoration: none;
    color: #000000; /* #A4BFE0 */;
    padding: 0 5px;
    line-height: 1.6em;
}

.menu-main ul li a:hover {
    color: #F4F7FC;
    font-weight: bold;
}

.login_form {
    height: 30px;
    margin-left: auto;
    padding-right: 1%;
    background-color: #a5c72d;
    text-align: right;
    font-size: 100%;
}

input.holo[type='text'], input.holo[type='password'] {
    /* You can set width to whatever you like */
    width: 80px;
    height: 20px;
    font-family: "Roboto", "Droid Sans", sans-serif;
    margin: 0;
    padding: 4px 6px 4px 6px;
    position: relative;
    outline: none;
    border: none;
    background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
    background-size: 1px 4px, 1px 1px, 1px 4px;
}

input.holo[type='text']:hover, input.holo[type='password']:hover, input.holo[type='text']:focus, input.holo[type='password']:focus {
    background: bottom left linear-gradient(#0099cc, #0099cc) no-repeat, bottom center linear-gradient(#0099cc, #0099cc) repeat-x, bottom right linear-gradient(#0099cc, #0099cc) no-repeat;
    background-size: 1px 4px, 1px 1px, 1px 4px;
}

.messages-error {
    width: 100%;
    /*border-bottom:3px dotted red;*/
    color: red;
    font-weight: bolder;
}

.messages-info {
    width: 100%;
    /*border-bottom:3px dotted red;*/
    color: blue;
    font-weight: bolder;
}

.content-wrapper {
    min-height: 30em;
}

.content {
    height: 100%;
    min-height: 20em;
    /* width:100%; makes right end look weird */
    /* background-color:#474747; */
    color: #EEEEEE;
    /*    background-image:url('images/background-content-min.jpg');*/
    text-decoration: none;
    padding: 1.5% 1.5% 1.5em;
}

.content label {
    color: #EEEEEE;
}

.content div img {
    width: 30%;
    margin: 1%;
    box-sizing: border-box;
    border-radius: 0 0;
    box-shadow: black 0 0 10px;
}

.content a {
    color: #ffffff;
    text-decoration: underline;
}

#add-name {
    white-space: nowrap;
}

.footer {
    height: 3em;
    color: #DDDDDD;
    background-image: url('images/background-content_min.jpg');
    border-top: 2px double #AEC94F;
    text-align: right;
    font-size: 0.76em;
    line-height: 3em;
}

.footer span.sql-performance {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/*


ALCOHOLS TABLE

*/
.alcohols-table {
    margin: 1em 0;
    width: 90%;
    border-spacing: 1px;
}

.alcohols-table tr {
    color: #000000;
    border-top: 1px solid black;
}

.alcohols-table tr:nth-child(even) {
    background: #C3DE66
}

.alcohols-table tr:nth-child(odd) {
    background: #AEC94F
}

.alcohols-table td {
    text-align: left;
    color: #000000;
    /*    border-right:0.5px solid black;*/
}

.alcohols-table a.delete {
    color: #C22929;
    font-weight: bold;
}

.alcohols-table a.approve {
    color: green;
    font-weight: bold;
}

.alcohols-table input {
    height: 1.1em;
    background: transparent;
    border-style: none;
    width: 100%;
}

.alcohols-table input[type='submit'] {
    background: #7A8D37;
    font-weight: bold;
    font-size: 1.1em;
    white-space: normal;
    width: 100%;
}

.alcohols-table input[type='checkbox'] {
    margin: 0;
    width: 100%;
    white-space: nowrap;
}

.success {
    color: #AEC94F;
}

@media screen and (max-width: 600px) {
    body > .container {
        padding: 0;
        width: 100%;
        border: #a5c72d solid 2px;;
        margin: auto auto 3em;
    }

    .login_form {
        font-size: 80%;
    }

    .alcohols-table thead {
        display: none;
    }

    .alcohols-table {
        margin: auto;
        width: 98%;
    }

    /*    .alcohols-table tr{
            display:inline-block;
            width:50%;
        }*/
    .alcohols-table td {
        display: block;
        position: relative;
        padding-left: 60%;
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: left;
    }

    .alcohols-table td:before {
        content: attr(data-th) ":";
        display: inline-block;
        color: #000;
        border-right: 2px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 33%;
        max-height: 100%;

        font-size: 100%;
        font-weight: 300;
        padding-left: 20%;
        padding-top: 5px;
    }

    .alcohols-table input {
        height: 1.3em;
        background: #ffffff;
        border: 2px #AEC94F solid;
        width: 95%;
    }
}